.Boxs{
  border: 1px solid black; 
  width: 500px;
  margin:20px;
  text-align: center;
}
.Box_title{
  font-size: 2rem;
}

.Box-img{
  width: 500px;
  
}

.BOX_list{
  display: flex;
  justify-content: center;
}

.btnlist{
  display: flex;
  justify-content: center;
}